[submodule "third_party/libosmium"]
    path = third_party/libosmium
    url = https://github.com/osmcode/libosmium.git

[submodule "third_party/protozero"]
    path = third_party/protozero
    url = https://github.com/mapbox/protozero.git

[submodule "third_party/Catch2"]
    path = third_party/Catch2
    url = https://github.com/catchorg/Catch2.git

[submodule "third_party/benchmark"]
    path = third_party/benchmark
    url = https://github.com/google/benchmark.git
